services:
    app:
        build:
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "8080:8080"
        volumes:
            # Mount source code for hot reload
            - ./backend/src:/app/src
            - ./backend/pom.xml:/app/pom.xml
            - ./backend/target:/app/target # Mount target for hot reload (only for dev)
            # Cache Maven dependencies
            - maven-cache:/root/.m2
        environment:
            - SPRING_DATASOURCE_URL=${DB_URL}
            - SPRING_DATASOURCE_USERNAME=${DB_USER}
            - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
            - JWT_SECRET=${JWT_SECRET}
            - SPRING_JPA_HIBERNATE_DDL_AUTO=none
            - SPRING_PROFILES_ACTIVE=dev
        depends_on:
            - postgres
        restart: unless-stopped

    postgres:
        image: postgres:15-alpine
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        volumes:
            - postgres-data:/var/lib/postgresql/data

    
    adminer:
        image: adminer:latest
        ports:
        - "8081:8080"
        depends_on:
        - postgres


volumes:
    maven-cache:
    postgres-data:
    
   
